<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>About Page</title>
    </head>
    <body
        style="display: flex; align-items: center; justify-content: center;  height: 400px; width: 100%;">
        <h1>about page</h1> <br>
        using fragment here which base.html files parent fragment 
        <div
            th:insert="${isLoggedIn} ? ~{base :: parent(one, two)} : ~{base :: parent2}"></div>
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parentFrag(~{::#content} , ~{::title})}">
    <head>
        <!-- <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>About page</title>
    </head>
    <body>

        <div id="content">
            <h1>Welcome to About Page</h1>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto
                laborum dolores hic nesciunt facilis ea, dignissimos sed itaque
                deserunt iure corporis aspernatur ut aliquam ipsum consequuntur
                inventore quisquam, facere est?

            </p>
        </div>

    </body>
</html>