<!DOCTYPE html>
<html th:replace="~{base ::parentFrag(~{::#content} , ~{::title})}">
    <head>
        <meta charset="ISO-8859-1">
        <title>Sign Up Page</title>
        <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
        <style>
            .container{
                width: 100%;
                height: 100%;
                background: wheat;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <h1>Welcomre to the SignUP page</h1>
        </div>

    </body>
</html>